/*!
 * Flat UI Free v2.2.2 (http://designmodo.github.io/Flat-UI/)
 * Copyright 2013-2014 Designmodo, Inc.
 */

/* Prettyfy Theme */
.prettyprint {
  padding: 15px 21px;
  /*font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;*/
  font-family: "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","宋体";
  background-color: #f7f7f9;
  border: 2px solid #e1e1e8;
  }
.pln {
  color: #333;
  }
@media screen {
  .str {
    color: #d14;
    }
  .kwd {
    color: #333;
    }
  .com {
    color: #998;
    }
  .typ {
    color: #458;
    }
  .lit {
    color: #458;
    }
  .pun {
    color: #333;
    }
  .opn {
    color: #333;
    }
  .clo {
    color: #333;
    }
  .tag {
    color: navy;
    }
  .atn {
    color: teal;
    }
  .atv {
    color: #d14;
    }
  .dec {
    color: #333;
    }
  .var {
    color: teal;
    }
  .fun {
    color: #900;
    }
  }
@media print, projection {
  .str {
    color: #060;
    }
  .kwd {
    font-weight: bold;
    color: #006;
    }
  .com {
    font-style: italic;
    color: #600;
    }
  .typ {
    font-weight: bold;
    color: #404;
    }
  .lit {
    color: #044;
    }
  .pun,
  .opn,
  .clo {
    color: #440;
    }
  .tag {
    font-weight: bold;
    color: #006;
    }
  .atn {
    color: #404;
    }
  .atv {
    color: #060;
    }
  }
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  }
/*.container {
  width: 970px !important;
  }*/
.demo-headline {
  padding: 20px 0 0 0;
  text-align: center;
  }
.demo-logo {
  margin: 10px 0;
  font: 900 90px/100px  "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","宋体";
  letter-spacing: -2px;
  }
.demo-logo .logo {
  width: 236px;
  height: 236px;
  margin: 0 auto 26px;
  overflow: hidden;
  text-indent: -9999em;
  background: url(../img/demo/logo-mask.png) center 0 no-repeat;
  background-size: 236px 236px;
  }
.demo-logo small {
  display: block;
  padding-top: 5px;
  font-size: 22px;
  font-weight: 700;
  color: rgba(52, 73, 94, .3);
  letter-spacing: 0;
  }
.demo-row {
  margin-bottom: 20px;
  }
.demo-row .demo-heading-note,
.demo-row .demo-text-note {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: block;
  width: 260px;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  color: #c0c1c2;
  }
.demo-row .demo-text-note {
  top: 10px;
  bottom: auto;
  }
.demo-row.typography-row .demo-content {
  float: none;
  width: auto;
  clear: both;
  }
.demo-row.typography-row .demo-type-example {
  position: relative;
  padding-left: 25%;
  margin-bottom: 40px;
  }
.demo-section-title {
  margin: 10px 0;
  font: 900 32px/40px  "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","宋体";
  }
.demo-panel-title {
  padding-top: 20px;
  margin: 2px 0 20px;
  font: bold 23px/40px  "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","宋体";
  }
.demo-panel-title small {
  font-size: inherit;
  font-weight: 400;
  color: #798795;
  }
.demo-navigation {
  margin-top: -10px;
  margin-bottom: -4px;
  }
.demo-pager {
  margin-top: -20px;
  }
.demo-tooltips {
  height: 126px;
  }
.demo-tooltips .tooltip {
  position: relative !important;
  top: -8px !important;
  left: -8px !important;
  }
.demo-headings {
  margin-bottom: 12px;
  }
.demo-tiles {
  margin-bottom: 46px;
  }
.demo-icons {
  padding-left: 20px;
  margin-left: -20px;
  font-size: 32px;
  }
.demo-icons .demo-content {
  margin: 0 0 0 -35px;
  }
.demo-icons .demo-content > span {
  display: inline-block;
  width: 24px;
  margin: 0 0 32px 35px;
  font-size: 24px;
  }
.demo-icons-tooltip {
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 80px;
  margin-left: 0 !important;
  font-size: 12px;
  color: #c2c8cf;
  }
.demo-illustrations .demo-content {
  padding-top: 20px;
  margin: 0 0 0 -40px;
  }
.demo-illustrations .demo-content:before,
.demo-illustrations .demo-content:after {
  display: table;
  content: " ";
  }
.demo-illustrations .demo-content:after {
  clear: both;
  }
.demo-illustrations .demo-content > div {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 0 40px 40px;
  line-height: 100px;
  text-align: center;
  }
.demo-illustrations img {
  display: inline-block;
  max-width: 100px;
  max-height: 100px;
  vertical-align: middle;
  }
.demo-samples {
  margin-bottom: 46px;
  }
.demo-download-section {
  float: none;
  padding: 60px 0 90px 20px;
  margin: 0 auto;
  text-align: center;
  }
.demo-download-section [class*='fui-'] {
  margin: 3px 0 -3px;
  }
.demo-download {
  width: 190px;
  height: 190px;
  padding: 40px 28px 30px 32px;
  margin: 0 auto 32px;
  text-align: center;
  background-color: #ebedef;
  border-radius: 50%;
  }
.demo-download img {
  width: 82px;
  height: 104px;
  }
.demo-download-text {
  padding: 20px 0;
  font-size: 15px;
  text-align: center;
  }
.demo-text-box a:hover {
  color: #1abc9c;
  }
.demo-browser {
  padding-top: 42px;
  margin: 0 41px 140px 0;
  color: #fff;
  background: #2c3e50 url(../img/demo/browser.png) 0 0 no-repeat;
  background-size: 659px 42px;
  border-radius: 0 0 6px 6px;
  }
.demo-browser-side {
  float: left;
  width: 151px;
  padding: 22px 20px;
  }
.demo-browser-side > h5 {
  margin-top: 4px;
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  }
.demo-browser-side > h6 {
  margin-top: 3px;
  font-size: 11px;
  font-weight: 300;
  line-height: 18px;
  text-transform: none;

  -webkit-font-smoothing: subpixel-antialiased;
  }
.demo-browser-author {
  display: block;
  width: 84px;
  height: 84px;
  margin: 0 auto;
  background: url(../img/demo/browser-author.jpg) center no-repeat;
  border: 3px solid #fff;
  border-radius: 50%;
  }
.demo-browser-action {
  padding: 30px 0 12px;
  }
.demo-browser-action > .btn {
  padding: 7px 0 8px 11px !important;
  text-align: left;
  border-radius: 3px;
  }
.demo-browser-action > .btn > [class^="fui-"] {
  position: relative;
  top: 1px;
  margin-right: 12px;
  }
.demo-browser-content {
  padding: 21px 0 0 20px;
  overflow: hidden;
  background-color: #34495e;
  border-radius: 0 0 6px;
  }
.demo-browser-content > img {
  float: left;
  width: 146px;
  margin: 0 15px 20px 0;
  border: 6px solid #fff;
  }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
  .logo {
    background-image: url(../img/demo/logo-mask-2x.png);
    }
  .demo-browser {
    background-image: url(../img/demo/browser-2x.png);
    }
  }
.demo-swatches-row [class*="col"] {
  float: left;
  min-height: 1px;
  }
.demo-swatches-row .swatches-col {
  width: 800px;
  margin-left: -5px;
  }
.demo-swatches-row .swatches-desc-col {
  width: 140px;
  margin-left: 20px;
  }
/*add by xiaomo*/
.bc-gray{
	background-color:#F3F3F3}
	.bc-white{
	background-color:#fff}
.required:after {
    content: " *";
    color: #ED1C24;
}
/*3.1.13 文字颜色
	Name:			style_color
	Example:		class="c-red|c-green|c-blue|c-white|c-black|c-gray|c-999|c-orange"
	Explain:		红色|绿色|蓝色|白色|黑色|灰色|浅灰色|橙色
*/
.c-red,.c-red a,a.c-red{color:red}
.c-red a:hover,a.c-red:hover{}

.c-green,.c-green a,a.c-green{color:green}
.c-red a:hover,a.c-red:hover{}

.c-blue,.c-blue a,a.c-blue{color:blue}
.c-blue a:hover,a.c-blue:hover{}

.c-white,.c-white a,a.c-white{color:white}
.c-white a:hover,a.c-white:hover{}

.c-black,.c-black a{color:black}
.c-black a:hover,a.c-black:hover{}

.c-gray,.c-gray a,a.c-gray{color:gray}
.c-gray a:hover,a.c-gray:hover{}

.c-666,.c-666 a,a.c-666{ color:#666}
.c-666 a:hover,a.c-666:hover{}

.c-999,.c-999 a,a.c-999{color:#999}
.c-999 a:hover,a.c-999:hover{}

.c-orange,.c-orange a,a.c-orange{color:orange}
.c-orange a:hover,a.c-orange:hover{}
/*add by xiaomo*/
.c-answer,.c-answer a,a.c-answer{color:#D6E685}
.c-answer a:hover,a.c-answer:hover{}

/*3.1.14 文字颜色强调
	Example:		class="text-muted/text-primary/text-warning/text-error/text-danger/text-success/text-info"
	Explain:		柔和/重要/警告/错误/危险/成功/信息
*/
.text-muted{color:#999}a.text-muted:hover{color:#808080}
.text-primary{color:#428BCA}a.text-primary:hover{color:#247dc9}
.text-warning{color:#f33}a.text-warning:hover{color:#f03}
.text-error{color:#f33}a.text-error:hover{color:#f03}
.text-danger{color:#c00}a.text-danger:hover{color:#900}
.text-success{color:#0c0}a.text-success:hover{color:#093}
.text-info{color:#1faef2}a.text-info:hover{color:#06c}
.text-price{color:#f60}a.text-price:hover{color:#f60}
.h7,h7{font-size:18px}
.h8,h8{font-size:14px}
.h9,h9{font-size:12px}

/*3.1.11 文字尺寸
	Name:			style_font-size
	Example:		class="f12/f14/f16/f18/f20"
	Explain:		12px字体/14px字体/16px字体/18px字体/20px字体
*/
.f-12{font-size:12px}.f-14{font-size:14px}.f-16{font-size:16px}.f-18{font-size:18px}.f-20{font-size:20px}.f-24{font-size:24px}.f-30{font-size:30px}
.nav-middle{
	position: relative;
border-radius: 6px;
width: 460px;
margin: 0px auto;}

/*清楚浮动
	Name:			style_clearfix
	Example:		class="clearfix|cl"
	Explain:		clearfix（简写cl）避免因子元素浮动而导致的父元素高度缺失能问题
*/
.cl:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.cl,.clearfix{zoom:1}
.line {
    font-size: 0px;
    line-height: 0px;
    border-top: 1px solid #DDD;
}

/*3.1.6 外边距
	Name:			style_margin
	Example:		class="mt-5/mt-10/..."
	Explain:		.mt表示上边距/.mb表示下边距/.ml表示左边距/.mr表示右边距
*/
.mt-5{margin-top:5px}.mt-10{margin-top:10px}.mt-15{margin-top:15px}.mt-20{margin-top:20px}.mt-30{margin-top:30px}.mt-40{margin-top:40px}.mt-60{margin-top:60px}
.mb-5{margin-bottom:5px}.mb-10{margin-bottom:10px}.mb-15{margin-bottom:15px}.mb-20{margin-bottom:20px}.mb-30{margin-bottom:30px}.mb-40{margin-bottom:40px}
.ml-5{margin-left:5px}.ml-10{margin-left:10px}.ml-15{margin-left:15px}.ml-20{margin-left:20px}.ml-30{margin-left:30px}.ml-40{margin-left:40px}
.mr-5{margin-right:5px}.mr-10{margin-right:10px}.mr-15{margin-right:15px}.mr-20{margin-right:20px}.mr-30{margin-right:30px}.mr-40{margin-right:40px}.mr-0{margin-right:0px}
/*3.1.7 内填充
	Name:			style_padding
	Example:		class="pt-5/pt-10/……"
	Explain:		.pt表示上填充/.pb表示下填充/.pl表示左填充/.pr表示右填充
*/
.pt-5{padding-top:5px}.pt-10{padding-top:10px}.pt-20{padding-top:20px}.pt-30{padding-top:30px}.pt-40{padding-top:40px}.pt-50{padding-top:50px}
.pb-5{padding-bottom:5px}.pb-10{padding-bottom:10px}.pb-20{padding-bottom:20px}
.pl-5{padding-left:5px}.pl-10{padding-left:10px}.pl-20{padding-left:20px}.pl-50{padding-left:50px}.pl-60{padding-left:60px}.pl-70{padding-left:70px}
.pr-5{padding-right:5px}.pr-10{padding-right:10px}.pr-20{padding-right:20px}
.pd-5{padding:5px}.pd-10{padding:10px}.pd-15{padding:15px}.pd-20{padding:20px}.pd-30{padding:30px}.pd-40{padding:40px}

/*首页正文部分*/
.main-left-inside {
    float: left;
    width: 45px;
    height: 45px;
}
.main-all-list-item {
    padding: 6px 0px;
    height: auto;
}
.main-left-3thing {
    width: auto;
    height: 45px;
    float: left;
    overflow: hidden;
}
.text-c {
    text-align: center;
}
.answer-color {
    background-color: #FF6F3D;
}
.box-shadow {
    background-color: #FFF;
    box-shadow: 1px 1px 2px 2px #DDD;
}

.main-right {
    /*float: left;*/
    width: auto;
    height: auto;
    overflow: hidden;
}
.main-right-bottom-title {
    float: left;
    overflow: hidden;
    font-weight: bold;
}
.main-right-same {
    height: auto;
    float: left;
    width: 530px;
}
.main-right-top-left {
    height: 20px;
    float: left;
    overflow: hidden;
    font-weight: lighter;
}
.main-right-bottom-tag {
    padding: 0px 4px;
    line-height: 16px;
    font-size: 12px;
    display: inline-block;
    color: #017E66;
    background-color: #E7F2ED;
    font-weight: normal;
    text-align: center;
    border-radius: 2px;
}
.bb {
    border-bottom: 1px solid #DDD;
}

.right-hot-title {
    line-height: normal;
}

.div-middle {
    position: relative;
    margin: 0px auto;
}
.l {
    float: left !important;
}
.r {
    float: right !important;
}
.b-t {
    border-top: 1px solid #DDD;
}


.answer-left-content {
    float: left;
    overflow: hidden;
  	font-size:14px;
}


.fw {
    margin-bottom: 4px;
    width: 100%;
}
.vt {
    vertical-align: top;
}
.post-signature {
    text-align: left;
    vertical-align: top;
    width: 175px;
    height: 58px;
    padding: 5px;
}
.user-info {
    height: 35px;
    width: 190px;
}
.user-info .user-action-time {
    margin-top: 2px;
    margin-bottom: 4px;
}
.user-info .user-gravatar32 {
    float: left;
    width: 32px;
    height: 32px;
}
.user-info .user-details {
    float: left;
    margin-left: 5px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
}
.owner {
    background-color: #E0EAF1;
}
.post-signature {
    text-align: left;
    vertical-align: top;
    width: 175px;
    height: 58px;
    padding: 5px;
}
.gravatar-wrapper-32 {
    padding: 0px;
    width: 32px;
    height: 32px;
    overflow: hidden;
}
.reputation-score {
    font-weight: bold;
    font-size: 12px;
    margin-right: 2px;
}
.reputation-score {
    font-weight: bold;
    font-size: 12px;
    margin-right: 2px;
}
.user-details .badgecount {
    font-weight: normal ;
    font-size: 12px;
}

.textarea-class {  
 width:100%;/*自动适应父布局宽度*/  
 overflow:auto;  
 word-break:break-all;  
}

.icon-sn-google{
	background-color:#4285F4;
		background-position:-80px 0
	
}

.icon-sn-github{
	background-color:#333;
	background-position:-40px 0
	
	
}

.icon-sn-tenqq{
	background-color:#1F9ED2;
	background-position:-60px 0
}

.icon-sn-weixin{
	background-color:#00B500;
	background-position:-20px 0
}

.icon-sn-weibo{
	background-color:#E90D24;
background-position:0px 0
}


[class*="icon-sn-"]{
	display:inline-block;
	background-image:url(../img/demo/all-icon.png);
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	vertical-align:middle;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-moz-background-size:auto 20px;
	-o-background-size:auto 20px;
	-webkit-background-size:auto 20px;
	background-size:auto 20px
}
.ml-180{
	margin-left: 180px;
}

.border-without-top {
    border-right: 1px solid #EEE;
    border-width: 0px 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #EEE #EEE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.contribution {
    list-style: none outside none;
    margin: -1px 0px 0px;
    padding: 3px;
}
.contribution-inside {
    display: block;
    float: left;
    margin: 1px;
    width: 15px;
    height: 15px;
}
.bg-0 {
    background-color: #EEE;
}
.bg-1 {
    background-color: #D6E685;
}
.bg-2 {
    background-color: #8CC665;
}
.bg-3 {
    background-color: #44A340;
}
.bg-4 {
    background-color: #1E6823;
}
.border-all {
    border: 1px solid #DDD;
}
.border-bottom {
    border-bottom: 1px solid #EEE;
}